* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  height: 100%;
  background: linear-gradient(108.5deg, #242424 -5.86%, #161f44 100.57%);
}

header {
  max-width: 1200px;
  margin: 0 auto;
}
section {
  max-width: 1200px;
  margin: 0 auto;
}
.ulSecond li {
  display: none;
}

.imageFirst img {
  width: 120px;
  height: 80px;
  /* object-fit: cover; */
}

nav {
  display: flex;
  justify-content: space-between;
   background:linear-gradient(#134E5E, #71B280);
}
nav ul {
  display: flex;
  justify-content: center;
}
nav ul li {
  list-style: none;
  text-transform: uppercase;
  padding: 20px;
}

nav ul li a {
  text-decoration: none;
  color: white;
}

nav ul li a:hover {
  color: #04fda3;
  border-bottom: 1px #04fda3 solid;
  padding-bottom: 5px;
}

.just {
  height: 50px;
  width: 50px;
}

.divFirst {
  color: white;
}

.divSecond {
  color: white;
}
 
.firstSection p {
  color: red;
}

.Knowledge {
  color: #3bf0fc;
}

